html,
body, 
div, 
header,
footer, h1, h2, h3, h4, h5, h6, div, ul, li, span, label, input, summary,form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
/* html{scroll-behavior: smooth;} */
html::-webkit-scrollbar {
  width: 0;
}
.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100wv;
  height: 100hv;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: #222;
  color: #fff;
}
.header-left{
  display: flex;
  width: 50%;
}
.header-right{
  display: flex;
  align-items: center;
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 5px;
}
.logo-img{
  width: 35px;
  height: 35px;
}
.title{
  margin: auto 20px;
  font-size: 30px;
  color: #fff;
}
.content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 82%;
  background-image: url('../img/main.jpg');
  background-position: center;
  background-size: cover;
  padding: 30px;
}
.content-left{
  width: 30%;
}
.content-right{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 56%;
}
.cr-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
.cr-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  padding: 5px 0;
  border-radius: 5px;
  background: #fff;
}
.cr-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.footer{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background: #222;
  color: #fff;
  font-size: 20px;
  box-shadow: 5px -2px 5px #f1f1f1;
}
.navbar {
  display: flex;
  align-items: center;
  width: 70%;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 0 20px;
  border: 2px solid #999;
  background-image: linear-gradient(#252D37, #111);
}
.navbar-links {
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 6px 15px;
  margin: 8px 12px;
  text-shadow: 0 1px 0 #000;
  color: #fff;
  font-size:140%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
}
.navbar-links:hover {
  background-image: linear-gradient(#111, #252D37);
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  padding: 2px 5px;
}
.navbar-active {
  background-image: linear-gradient(#111, #252D37);
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  padding: 6px 15px;
}
.navbar-icons {
  min-width: 30px;
  font-size: 120%;
}
.login-page{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 30px;
}
.admin-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('../img/main.jpg');
  background-position: center;
  background-size: cover;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30%;
  margin-top: 120px;
  margin-right: 50px;
}
.left{
  display: flex;
  width: 30%;
  height: 50%;
  margin-top: 100px;
  margin-left: 70px;
}
.login-header{
  font-size: 26px;
  font-weight: bold;
  color: #1877F2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.admin-header{
  display: flex;
  align-items: center;
  padding-left: 20px;
  min-height: 60px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.admin-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 74%;
  height: 100%;
  padding: 14px;
  background-color: #fff;
  box-shadow: 0 0 9px 5px #e6e4e4;
  border-radius: 5px;
}
.input{
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 20px;
  padding-left: 10px;
  outline: none;
}
.inp-btn{
  font-size: 26px;
  background-color: #166FE5;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
}
.inp-btn:hover{
  background-color: #1267d6;
}
.input:focus{
  border:1px solid #1877F2;
}
.msg-con{
  background-color: #1877F2;
  border-radius: 5px;
  color: #fff;
}
.msg-title{
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px black;
}
.msg-text{
  font-size: 24px;
  text-shadow: 1px 1px #333;
}
.msg-error{
  font-size: 30px;
  font-weight: bold;
}
.login-form, .admin-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 440px;
  /* min-height: 290px; */
  border-radius: 5px;
  margin-top: 20vh;
  background-color: rgba(77,89,101,0.5);
  overflow: hidden;
  box-shadow: 0 2px 20px 2px #ccc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .admin-form{
  
} */
.login-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.login-inputs-con {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 44px;
  margin: 10px 0;
  background-color: rgba(77,89,101,0.5);
  border: 1px solid #444;
  border-radius:5px;
}
.login-inputs {
  width: 90%;
  min-height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 120%;
}
.login-inputs:focus {
  outline: none;
  box-shadow:inset -1px -1px 1px #999;
}
.login-icons {
  width: 40px;
  text-align: center;
  color:#f1f1f1;
  background-color: rgba(77,89,101,0.5);
}
.login-inputs::placeholder{
  color: #999;
}
.alert, .error, .login-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  font-size: 22px;
  border-radius: 4px;
}
.btn-alert{
  border: 1px solid #d3d3d3;
  font-size: 24px;
  font-weight: bold;
  min-height: 36px;
  border-radius: 4px;
}
.btn-alert:hover{
  cursor: pointer;
  filter: brightness(120%);
}
.userlist-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
table{
  display: flex;
  flex-direction: column;
  width: 96%;
  border-collapse: collapse;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #999;
  background-color: #222;
}
thead{
  display: flex;
  align-items: flex-start;
  font-size: 30px;
  min-height: 40px;
  color: #fff;
  margin-bottom: 10px;
}
tr{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  min-height: 34px;
  border-radius: 5px;
  background-color: #222;
  margin: 2px 0;
  border-radius: 4px;
}
td{
  display: flex;
  align-items: center;
  font-size: 20px;
  min-height: 34px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.td1{
  width: 70%;
  padding-left: 5px;
}
.td2{
  width: 30%;
  padding-left: 5px;
}
td:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  color: #111;
  border-radius: 3px;
  min-width: 60px;
  min-height: 34px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.trash{
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: firebrick;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background-color: mediumaquamarine;
}
.trash:hover{
  background-color: red;
}